<?xml version="1.0"?>
<launch>

  <!-- lanelet2 Global Planner -->
  <!-- <node pkg="mission_planner" type="mission_planner" name="mission_planner" output="screen">
    <param name="map_frame"                   value="map" />
    <param name="base_link_frame"             value="base_link" />
    <remap from="~input/vector_map"           to="/lanelet_map_bin" />
    <remap from="~input/goal_pose"            to="/move_base_simple/goal" />
    <remap from="~input/checkpoint"           to="/move_base_simple/fake_goal" />
    <remap from="~output/route"               to="/planning/mission_planning/route" />
    <remap from="~debug/route_marker"         to="/planning/mission_planning/route_marker" />
    <remap from="~output/global_path"         to="/planning/mission_planning/global_path" />
  </node> -->

  <!-- <remap from="/different_topic" to="based/lane_waypoints_raw"/> -->

  <!-- Autoware ll2 Global Planner -->
  <node pkg="ll2_global_planner" type="ll2_global_planner_node" name="ll2_global_planner" output="screen">
    <rosparam command="load" file="$(find ll2_global_planner)/config/params.yaml" />
  </node>

  <!-- Autoware Object Visualizer -->
  <node ns="local_planner" pkg="lgsvl_utils" type="detected_objects_visualizer" name="autoware_objects_visualizer" output="log" respawn="true" />

</launch>
